root = true

[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.php]
indent_size = 4

[*.js]
indent_size = 4

[{*.vue,*.json,*.html5,*.xlf,*.twig}]
indent_size = 2
