.composer-require-checker.json export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitlab-ci.yml export-ignore
/.gitignore export-ignore
/spec export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
phpcs.xml.dist export-ignore
phpspec.yml export-ignore
psalm.xml export-ignore
ctb.json export-ignore
