# Custom
.composer-require-checker.json export-ignore
.editorconfig export-ignore
.gitattributes export-ignore
.github export-ignore
.gitlab-ci.yml export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
/.gitignore export-ignore
/spec export-ignore
ctb.json export-ignore
phpcs.xml.dist export-ignore
phpspec.yml export-ignore
psalm.xml export-ignore

# Auto detect text files and perform LF normalization
* text-auto

# Configuration
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dist export-ignore
companion.json export-ignore
composer.lock -diff
phpcs.xml.dist export-ignore
psalm.xml export-ignore

# PHP files
*.php text eol=lf diff=php
