.check-author.yml export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.travis.yml export-ignore
build.default.properties export-ignore
build.xml export-ignore
phpunit.xml.dist export-ignore
/tests export-ignore
/specs export-ignore
.phpcq.lock export-ignore
.phpcq.yaml.dis export-ignore
psalm.xml export-ignore
phpcs.xml.dis export-ignore
composer.lock export-ignore
